node_modules
.env


echo "# ecom" >> README.md
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/shristipokharel55/ecom.git
git push -u origin main